<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Occupancy</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/my-button.css') }}">
<body>

<h1 align="center">Increase or Decrease value of maximum Occupancy by 1</h1>
<div class="my-button" onclick="add_live_max()"><span>Increase</span></div>
<div class="my-button" onclick="sub_live_max()"><span>Decrease</span></div>
</body>

<script>
    function add_live_max() {
        var xhttp = new XMLHttpRequest();


        xhttp.open("POST", "add_max", true);
        xhttp.send(null);

    }

    function sub_live_max() {
        var xhttp = new XMLHttpRequest();


        xhttp.open("POST", "sub_max", true);
        xhttp.send(null);

    }
</script>
</html>