<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display</title>
</head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/testing.css') }}">

<div class="grid-container">
    <div class="banner"></div>
    <div class="advertisement"></div>
    <div class="border"></div>
    <div class="data">
        <div class="status">
            <div class="status-picture"></div>
            <div class="status-message"></div>
        </div>
        <div class="occupancy">
            <div class="current-count"></div>
            <div class="current-text"></div>
            <div class="maximum-occupancy">
                <div class="maximum-text"></div>
                <div class="maximum-count"></div>
            </div>
        </div>
        <div class="misc">
            <div class="in-out">
                <div class="in-text"></div>
                <div class="out-text"></div>
                <div class="in-count"></div>
                <div class="out-count"></div>
            </div>
            <div class="logo-time">
                <div class="logo"></div>
                <div class="time"></div>
            </div>
            <div class="add-data"></div>
        </div>
    </div>
</div>

</body>
</html>