.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 0.8fr;
    grid-template-rows: 0.4fr 2.3fr 0.3fr;
    gap: 1px 1px;
    grid-template-areas: "status status misc logo" "status status data data" "banner banner banner banner";
}

.logo {
    grid-area: logo;
}

.status {
    display: grid;
    grid-template-columns: 0.2fr 2.6fr 0.2fr;
    grid-template-rows: 0.7fr 1.9fr 0.4fr;
    gap: 1px 1px;
    grid-template-areas: ". . ." ". status-message ." ". . .";
    grid-area: status;
}

.status-message {
    grid-area: status-message;
}

.data {
    display: grid;
    grid-template-columns: 0.2fr 2.6fr 0.2fr;
    grid-template-rows: 0.3fr 2.2fr 0.5fr;
    gap: 1px 1px;
    grid-template-areas: ". . ." ". occupancy ." ". in-out .";
    grid-area: data;
}

.occupancy {
    grid-area: occupancy;
}

.in-out {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "in out";
    grid-area: in-out;
}

.in {
    grid-area: in;
}

.out {
    grid-area: out;
}

.banner {
    grid-area: banner;
}

.misc {
    display: grid;
    grid-template-columns: 1.6fr 0.7fr 0.7fr;
    grid-template-rows: 1.1fr 0.9fr;
    gap: 1px 1px;
    grid-template-areas: ". refresh settings" ". . .";
    grid-area: misc;
}

.settings {
    grid-area: settings;
}

.refresh {
    grid-area: refresh;
}

body{
    background-color: #272C34;
}

/*.status-message{*/
/*    font-size: 20vw;*/
/*    transition: 0.5s;*/
/*    !*border-radius: 50%;*!*/
/*    background-color: #dddddd;*/
/*    !*justify-content: center;*!*/
/*    !*align-items: center;*!*/
/*    display: flex;*/
/*    !*text-align:center;*!*/
/*    !*justify-content: center;*!*/
/*    !*align-items: center;*!*/
/*    position: relative;*/
/*}*/

/*.status-message-id{*/
/*    display: flex;*/
/*    !*top: 50%;*!*/
/*    !*align-self: center;*!*/
/*    !*justify-content: center;*!*/
/*    !*!*align-items: center;*!*!*/
/*    !*text-align: center;*!*/
/*    !*justify-content: center;*!*/
/*    !*align-items: center;*!*/
/*    !*vertical-align: middle;*!*/
/*    !*margin: auto;*!*/

/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    margin-right: -50%;*/
/*    transform: translate(-50%, -50%)*/
/*}*/

div.status-message {
    height: 10em;
    position: relative;
    display: flex;
    background-color: #dddddd;
}

#status-message-id {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}